/* Light theme - default */
:root{
    --light-theme-background: #fff;
    --light-theme-text: #000000;
    --light-theme-button-color: #000000;
    --light-theme-button-text-color: #fff;
}

/* Dark theme */
body.dark-theme {
    --dark-theme-background: #000000;
    --dark-theme-text: #fff;
    --dark-theme-button-color: #fff;
    --dark-theme-button-text-color: #000000;
}

/* Universal styles */
* {
   font-family: Arial, Helvetica, sans-serif;
   background-color: var(--light-theme-background);
   margin: 0;
   padding: 0;
   transition: background-color .25s, color .24s;
   box-sizing: border-box;
}

body {
    margin-right: 5px;
    border-right-color: #000000;
    border-right-width: 5px;
    border-style: solid;
}

/* Navigation */

    /* Justifying the header content to the right and giving it a double border */
    header {
        height: 60px;
        border-bottom-color: var(--light-theme-border-color);
        border-bottom-style: double;
        border-bottom-width: 10px;
        align-content: center;
    }

    /* Aliging the header text and buttons */
    nav {
        display: flex;
        justify-content: space-between;
    }

    .nav-buttons {
        display: flex;
        align-items: center;
    }

    /* Back button */
    .back-button {
        border-color: transparent;
        outline: none;
        background-color: var(--light-theme-button-color);
        color: var(--light-theme-button-text-color);
        font-size: 10px;
        font-weight: bold;
        padding: 8px;
        border-radius: 4px;
    }

    /* The theme toggle button needs to have a transparent background and no outline */
    .theme-toggle-btn {
        border-color: transparent;
        background-color: transparent;
        outline: none;
        padding-right: 20px;
    }

main {
display: flex;
height: 60vh;
}