/* Light theme */

.light header {
    border-bottom-color: #000000;
    background-color: #fff;
}

.light .back-btn {
    background-color: #fff;
    color: #000000;
}

.light .moon {
    display: none;
}

.light .blog-container {
    border-right-color: #000000;
    background-color: #fff;
    color: #000000;
    border-bottom-color: #000000;
}

.light .footer {
   background-color: #fff;
   color: #000000;
}

/* Dark theme */

.dark header {
    border-bottom-color: #fff;
    background-color: #000000;
    color: #fff;
}

.dark .blog-container {
    border-right-color: #fff;
    background-color: #000000;
    color: #fff;
    border-bottom-color: #fff;
}

.dark .back-btn {
    background-color: #000000;
    color: #fff;
}

.dark .moon {
    display: block;
}

.dark .footer {
    color: #fff;
    background-color: #000000;
    text-decoration: none;
}

.dark .sun {
    display: none;
}

/* Universal styles */
* {
   font-family: Arial, Helvetica, sans-serif;
   margin: 0;
   padding: 0;
   transition: background-color .25s, color .24s;
   box-sizing: border-box;
}

body {
    margin-right: 5px;
    border-right-width: 5px;
    border-style: solid;
    height: 100vh;
}

/* Navigation */

    /* Justifying the header content to the right and giving it a double border */
    header {
        height: 60px;
        border-bottom-style: double;
        border-bottom-width: 10px;
        align-content: center;
    }

    /* Aliging the header text and buttons */
    nav {
        display: flex;
        justify-content: space-between;
    }

    h1 {
        padding-left: 10px;
    }

    .nav-btns {
        display: flex;
        align-items: center;
    }

    /* Back button */
    .back-btn {
        border-color: transparent;
        outline: none;
        font-size: 10px;
        font-weight: bold;
        padding: 8px;
        border-radius: 4px;
        background-color: #000000;
        color: #fff;
        margin-right: 20px;
    }

    /* The theme toggle button needs to have a transparent background and no outline */
    .theme-toggle-btn {
        border-color: transparent;
        background-color: transparent;
        outline: none;
        padding-right: 20px;
    }

    .moon {
        display: none;
    }


main {
display: flex;
height: 60vh;
}

/* The main blog container */
.blog-container {
    border-bottom-style: double;
    border-bottom-width: 10px;
    width:100%;
}

/* Footer */
footer {
    margin: 10px;
    font-size: 10px;
    font-style: italic;
}