/* Light theme */

    .light header {
        border-bottom-color: #000000;
        background-color: #fff;
    }

    .light aside {
        border-right-color: #000000;
        background-color: #fff;
    }

    .light .right-side {
       background-color: #fff;
    }

    .light .moon {
        display: none;
    }

/* Dark theme */

    .dark header {
        border-bottom-color: #fff;
        background-color: #000000;
    }

    .dark aside {
        border-right-color: #fff;
        background-color: #000000;
    }

    .dark .right-side {
        color: #fff;
        background-color: #000000;
    }

    .dark .sun {
        display: none;
    }

    .dark .moon {
        display: block;
    }

/* Universal styles */
* {
   font-family: Arial, Helvetica, sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


body {
    margin-right: 5px;
    border-right-width: 5px;
    border-style: solid;
    border-right-color: #000000;
}

/* Navigation */

    /* Justifying the header content to the right and giving it a double border */
    header {
        display:flex;
        justify-content: right;
        height: 60px;
        align-items: center;
        border-bottom-style: double;
        border-bottom-width: 10px;
        border-bottom-color: #000000;
    }

    /* The theme toggle button needs to have a transparent background and no outline */
    .theme-toggle-btn {
        border-color: transparent;
        background-color: transparent;
        outline: none;
        padding-right: 20px;
        cursor: pointer;
    }

    .moon {
        display: none;
    }

main {
    display: flex;
}

/* The left side panel */
    aside {
        padding: 120px;
        border-right-style: double;
        border-right-width: 10px;
        border-right-color: #000000;
    }

    /* Making the section a circle, giving it a yellow gradient, and alignin the text within it */
    .yellow-circle {
        border-radius: 50%;
        height: 500px;
        width: 500px;
        background: linear-gradient(#FFE191, #FFB901, #8E6700);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* The "My First Blog" header */
    h1 {
        background-color: transparent;
        font-size: 50px;
        color: #fff;
        text-shadow: 1px 1px #000000;
        text-align: center;
}

/* The right side panel */
    .right-side {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 700px;
    }
